In [2]:
import pandas as pd

## 1.-Limpiando Data

In [3]:
df_data_historica = pd.read_csv("Datasets/Fifa_WorldCup_Matches.csv")
df_data_historica.head()

         Home Score     Away  Year
0     France    4–1   Mexico  1930
1  Argentina    1–0   France  1930
2      Chile    3–0   Mexico  1930
3      Chile    1–0   France  1930
4  Argentina    6–3   Mexico  1930

In [4]:
df_fixture = pd.read_csv("Datasets/Fifa_WorldCup_Fixture.csv")
df_fixture.head()

           Home     Score          Away  Year
0        Qatar    Match 1       Ecuador  2022
1      Senegal    Match 2   Netherlands  2022
2        Qatar   Match 18       Senegal  2022
3  Netherlands   Match 19       Ecuador  2022
4      Ecuador   Match 35       Senegal  2022

# 1.1- Limpiando Df Fixture

In [5]:
#Eliminamos los espacios en blanco que hay en el DataFrame
df_fixture['Home'] = df_fixture['Home'].str.strip()
df_fixture['Away'] = df_fixture['Away'].str.strip()

## 1.2 Limpiando la Data Historica

In [6]:
#Utilizamos la función 'dropna' para eliminar la data faltante
df_data_historica.dropna(inplace=True)
df_data_historica[df_data_historica['Home'].isnull()]

Empty DataFrame
Columns: [Home, Score, Away, Year]
Index: []

In [7]:
df_data_historica.head()

         Home Score     Away  Year
0     France    4–1   Mexico  1930
1  Argentina    1–0   France  1930
2      Chile    3–0   Mexico  1930
3      Chile    1–0   France  1930
4  Argentina    6–3   Mexico  1930

In [8]:
df_data_historica.tail()

         Home         Score      Away  Year
896   Russia   2–2 (a.e.t.)   Croatia  2018
897   France            1–0   Belgium  2018
898  Croatia   2–1 (a.e.t.)   England  2018
899  Belgium            2–0   England  2018
900   France            4–2   Croatia  2018