In [26]:
import pandas as pd

## 1.-Limpiando Data

In [27]:
df_data_historica = pd.read_csv("Datasets/Fifa_WorldCup_Matches.csv")
df_data_historica.head()

         Home Score     Away  Year
0     France    4–1   Mexico  1930
1  Argentina    1–0   France  1930
2      Chile    3–0   Mexico  1930
3      Chile    1–0   France  1930
4  Argentina    6–3   Mexico  1930

In [28]:
df_fixture = pd.read_csv("Datasets/Fifa_WorldCup_Fixture.csv")
df_fixture.head()

           Home     Score          Away  Year
0        Qatar    Match 1       Ecuador  2022
1      Senegal    Match 2   Netherlands  2022
2        Qatar   Match 18       Senegal  2022
3  Netherlands   Match 19       Ecuador  2022
4      Ecuador   Match 35       Senegal  2022

# 1.1- Limpiando Df Fixture

In [29]:
#Eliminamos los espacios en blanco que hay en el DataFrame
df_fixture['Home'] = df_fixture['Home'].str.strip()
df_fixture['Away'] = df_fixture['Away'].str.strip()

## 1.2 Limpiando la Data Historica

In [30]:
#Utilizamos la función 'dropna' para eliminar la data faltante
df_data_historica.dropna(inplace=True)
df_data_historica[df_data_historica['Home'].isnull()]

Empty DataFrame
Columns: [Home, Score, Away, Year]
Index: []

In [31]:
df_data_historica.head()

         Home Score     Away  Year
0     France    4–1   Mexico  1930
1  Argentina    1–0   France  1930
2      Chile    3–0   Mexico  1930
3      Chile    1–0   France  1930
4  Argentina    6–3   Mexico  1930

In [32]:
df_data_historica.tail()

         Home         Score      Away  Year
896   Russia   2–2 (a.e.t.)   Croatia  2018
897   France            1–0   Belgium  2018
898  Croatia   2–1 (a.e.t.)   England  2018
899  Belgium            2–0   England  2018
900   France            4–2   Croatia  2018

In [33]:
df_data_historica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901 entries, 0 to 900
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Home    901 non-null    object
 1   Score   901 non-null    object
 2   Away    901 non-null    object
 3   Year    901 non-null    int64
dtypes: int64(1), object(3)
memory usage: 28.3+ KB

## 1.2 Limpiando Data Historica

In [34]:
#Vamos a eliminar un partido que no se jugó y no tiene resultado
df_data_historica[df_data_historica['Home'].str.contains('Sweden') &
                  df_data_historica['Away'].str.contains('Austria')]

       Home Score      Away  Year
37  Sweden    w/o   Austria  1938

In [35]:
index_eliminar = df_data_historica[df_data_historica['Home'].str.contains('Sweden') &
                  df_data_historica['Away'].str.contains('Austria')].index

In [36]:
df_data_historica.drop(index=index_eliminar, inplace=True)

In [37]:
#Vamos a eliminar un partido que no se jugó y no tiene resultado
df_data_historica[df_data_historica['Home'].str.contains('Sweden') &
                  df_data_historica['Away'].str.contains('Austria')]

Empty DataFrame
Columns: [Home, Score, Away, Year]
Index: []

In [38]:
#df_data_historica[df_data_historica['Score'].str.contains('[^/d-]')]
df_data_historica['Score'] = df_data_historica['Score'].str.replace('[^/d-]', '',regex=True)

In [40]:
df_data_historica[df_data_historica['Score'].str.contains('[^/d-]')]

Empty DataFrame
Columns: [Home, Score, Away, Year]
Index: []

In [ ]:
#Actualizacion