In [85]:
import pandas as pd

## 1.-Limpiando Data

In [86]:
df_data_historica = pd.read_csv("Datasets/Fifa_WorldCup_Matches.csv")
df_data_historica.head()

         Home Score     Away  Year
0     France    4–1   Mexico  1930
1  Argentina    1–0   France  1930
2      Chile    3–0   Mexico  1930
3      Chile    1–0   France  1930
4  Argentina    6–3   Mexico  1930

In [87]:
df_fixture = pd.read_csv("Datasets/Fifa_WorldCup_Fixture.csv")
df_fixture.head()

           Home     Score          Away  Year
0        Qatar    Match 1       Ecuador  2022
1      Senegal    Match 2   Netherlands  2022
2        Qatar   Match 18       Senegal  2022
3  Netherlands   Match 19       Ecuador  2022
4      Ecuador   Match 35       Senegal  2022

# 1.1- Limpiando Df Fixture

In [88]:
#Eliminamos los espacios en blanco que hay en el DataFrame
df_fixture['Home'] = df_fixture['Home'].str.strip()
df_fixture['Away'] = df_fixture['Away'].str.strip()

## 1.2 Limpiando la Data Historica

In [89]:
#Utilizamos la función 'dropna' para eliminar la data faltante
df_data_historica.dropna(inplace=True)
df_data_historica[df_data_historica['Home'].isnull()]

Empty DataFrame
Columns: [Home, Score, Away, Year]
Index: []

In [90]:
df_data_historica.head()

         Home Score     Away  Year
0     France    4–1   Mexico  1930
1  Argentina    1–0   France  1930
2      Chile    3–0   Mexico  1930
3      Chile    1–0   France  1930
4  Argentina    6–3   Mexico  1930

In [91]:
df_data_historica.tail()

         Home         Score      Away  Year
896   Russia   2–2 (a.e.t.)   Croatia  2018
897   France            1–0   Belgium  2018
898  Croatia   2–1 (a.e.t.)   England  2018
899  Belgium            2–0   England  2018
900   France            4–2   Croatia  2018

In [92]:
df_data_historica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901 entries, 0 to 900
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Home    901 non-null    object
 1   Score   901 non-null    object
 2   Away    901 non-null    object
 3   Year    901 non-null    int64
dtypes: int64(1), object(3)
memory usage: 28.3+ KB

In [93]:
#Vamos a eliminar un partido que no se jugó y no tiene resultado
df_data_historica[df_data_historica['Home'].str.contains('Sweden') &
                  df_data_historica['Away'].str.contains('Austria')]

       Home Score      Away  Year
37  Sweden    w/o   Austria  1938

In [94]:
index_eliminar = df_data_historica[df_data_historica['Home'].str.contains('Sweden') &
                  df_data_historica['Away'].str.contains('Austria')].index

In [95]:
df_data_historica.drop(index=index_eliminar, inplace=True)

In [96]:
#Vamos a eliminar un partido que no se jugó y no tiene resultado
df_data_historica[df_data_historica['Home'].str.contains('Sweden') &
                  df_data_historica['Away'].str.contains('Austria')]

Empty DataFrame
Columns: [Home, Score, Away, Year]
Index: []

In [105]:
#Eliminamos caracteres que sean espacios en blanco en el DataFrame
df_data_historica['Score'] = df_data_historica['Score'].fillna('').str.replace('[^0-9-]', '', regex=True)
df_data_historica['Home'] = df_data_historica['Home'].str.strip()
df_data_historica['Away'] = df_data_historica['Away'].str.strip()

In [108]:
#Separamos la columna 'Score' por goles de visitante y local
df_data_historica[['HomeGoals','AwayGoals']] = df_data_historica['Score'].str.split('-', expand=True)

In [112]:
df_data_historica.drop('Score', axis=1, inplace=True)

In [117]:
df_data_historica.rename(columns={'Home':'HomeTeam','Away':'AwayTeam'}, inplace=True)

In [119]:
#Cambiamos el tipo de dato de las columnas de HomeGoals y AwayGoals
df_data_historica.dtypes
df_data_historica = df_data_historica.astype({'HomeGoals':int, 'AwayGoals':int, 'Year':int})

In [121]:
df_data_historica.info()

<class 'pandas.core.frame.DataFrame'>
Index: 900 entries, 0 to 900
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   HomeTeam   900 non-null    object
 1   AwayTeam   900 non-null    object
 2   Year       900 non-null    int32
 3   HomeGoals  900 non-null    int32
 4   AwayGoals  900 non-null    int32
dtypes: int32(3), object(2)
memory usage: 63.9+ KB

## 2 Exportamos dataFrame Limpio

In [123]:
df_data_historica.to_csv(r'Datasets\Clean_Fifa_WorldCup_Matches.csv', index=False)