# Extracción de datos

In [37]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle as pk

In [8]:
tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [30]:
print(tables[18])

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  2  1  0   5   1  +4    7
1    2      Senegal    3  2  0  1   5   4  +1    6
2    3      Ecuador    3  1  1  1   4   3  +1    4
3    4    Qatar (H)    3  0  0  3   1   7  −6    0

In [35]:
#Tablas de los gurpos A -> H en el mundial de 2022
#Utilizamos la libreria que importamos para asignar los nombres a los grupos
dict_grupos = {}
for letra, i in zip(alfabeto, range(18,68,7)):
    df = tables[i]
    #Cambianmos el nombre de la columna 1 de Teamvte a Team
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    #Eliminamos la columna Qualification con la funcion 'pop'
    #df.pop('Qualification')
    dict_grupos[f'Grupo {letra}'] = df

dict_grupos['Grupo A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  2  1  0   5   1  +4    7
1    2      Senegal    3  2  0  1   5   4  +1    6
2    3      Ecuador    3  1  1  1   4   3  +1    4
3    4    Qatar (H)    3  0  0  3   1   7  −6    0

In [38]:
with open('dict_tablas','wb') as Output:
    pk.dump(dict_grupos, Output)