# Extracci√≥n de datos

In [1]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle as pk

In [2]:
tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [3]:
print(tables[12])

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1    Qatar (H)    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2      Ecuador    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3      Senegal    0  0  0  0   0   0   0    0                        NaN
3    4  Netherlands    0  0  0  0   0   0   0    0                        NaN

In [4]:
#Tablas de los gurpos A -> H en el mundial de 2022
#Utilizamos la libreria que importamos para asignar los nombres a los grupos
dict_grupos = {}
for letra, i in zip(alfabeto, range(12,62,7)):
    df = tables[i]
    #Cambianmos el nombre de la columna 1 de Teamvte a Team
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    #Eliminamos la columna Qualification con la funcion 'pop'
    df.pop('Qualification')
    dict_grupos[f'Grupo {letra}'] = df

dict_grupos['Grupo H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [5]:
with open('dict_tablas','wb') as Output:
    pk.dump(dict_grupos, Output)